<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
            title HEW 2020 IH12A Group 5
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js")
    body
        block header
            include header
            h1= title
        
        block main
            main
        
        block footer
            include footer

        block script