extends layout

block title
    title

block style
    link(rel="stylesheet" href="/cdn/sign.css")

block header

block main
    main(class="ui grid container")

block footer

block script
    script(src='/cdn/sign.js')