<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
            title HEW 2020 IH12A Group 5
    script(src="https://unpkg.com/react@17/umd/react.development.js",crossorigin)
    script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js", crossorigin)
    body
        block header
            include header
            h1= title
        
        block main
            main
        
        block footer
            include footer

        block script