doctype html
html(lang="en")
    head
        block meta
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
            title HEW 2020 IH12A Group 5
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" crossorigin)
        block style
            link(rel="stylesheet" href="public.css")

    script(src="https://unpkg.com/react@17/umd/react.development.js",crossorigin)
    script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js", crossorigin)
    script(src="https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js", crossorigin)

    body
        block header
            header
                h1 Header

        block main
            main

        block footer
            footer
                p 2020 IH12A092 Group 5&copy;

    block script