# Defaults
    DirectoryIndex None

# ErrorDoc
    ErrorDocument 404 "ページが見つかりませんでした"

# Rewrites
    RewriteEngine On

    # https
        RewriteEngine On 
        RewriteCond %{HTTP_HOST} ^(.+)\.herokuapp.com [NC] 
        RewriteCond %{HTTPS} off 
        RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # forbidden
        RewriteRule ^model/ / [R=404]
        RewriteRule ^view/ / [R=404]
        RewriteRule ^controller/ / [R=404]

    # cdn
        RewriteRule ^cdn/(.+).js$ /view/$1.js [END]
        RewriteRule ^cdn/(.+).css$ /view/$1.css [END]
        RewriteRule ^cdn/(.+).png$ /image/$1.png [END]

    # api
        RewriteRule ^apis/departments/$ /controller/department.php [NC,END]
        RewriteRule ^apis/forms/$ /controller/form.php [NC,END]
        RewriteRule ^apis/forms/(\d+)/$ /controller/form.php?e=$1 [NC,END,QSA]
        RewriteRule ^apis/lessons/$ /controller/lesson.php [NC,END]
        RewriteRule ^apis/prefill/users/$ /controller/prefill.php?m=u [NC,END,QSA]
        RewriteRule ^apis/students/(\w{2}\d\w)/$ /controller/student.php?c=$1 [NC,END,QSA]
        RewriteRule ^apis/suica/$ /controller/suica.php [NC,END]
        RewriteRule ^apis/teachers/$ /controller/teacher.php [NC,END]
        RewriteRule ^apis/(.+)(?<!/)$ /$1/ [R]

    #auth
        RewriteRule ^auth/signin/$ /controller/auth.php?m=in&d=f [NC,END,QSA]
        RewriteRule ^auth/signout/$ /controller/auth/signout.php [NC,END]
        RewriteRule ^auth/signup/$ /controller/auth.php?m=up [NC,END,QSA]
        RewriteRule ^auth/suica/$ /controller/auth.php?m=in&d=s [NC,END,QSA]

    # page
        RewriteRule ^ /controller/index.php [NC,END]
