# php
    php_value include_path "/code/hew2020/www/"

# Defaults
    DirectoryIndex None

# ErrorDoc
    #ErrorDocument 404 /error/404.html
    ErrorDocument 404 "its 404"

# Rewrites
    RewriteEngine On

    # forbidden
        RewriteRule ^model/ / [R=404]
        RewriteRule ^view/ / [R=404]
        RewriteRule ^controller/ / [R=404]

    # cdn
        RewriteRule ^cdn/(.+).js$ /view/$1.js [END]
        RewriteRule ^cdn/(.+).css$ /view/$1.css [END]

    # api
        # temp api for demo
        RewriteRule ^forms/$ /controller/demo/form_entry.php [NC,END]
        RewriteRule ^forms/(\d+)/$ /controller/demo/form_entry.php?e=$1 [NC,END,QSA]
        RewriteRule ^teachers/$ /controller/demo/teacher_entry.php [NC,END]
        RewriteRule ^departments/$ /controller/demo/department_entry.php [NC,END]
        RewriteRule ^students/$ /controller/demo/student_entry.php [NC,END]
        RewriteRule ^students/(\w{4})$ /controller/demo/student_entry.php?c=$1 [NC,END,QSA]

        # auth
        RewriteRule ^signin/$ /controller/signin_entry.php [NC,END]
        RewriteRule ^signin/suica/$ /controller/signin_entry.php?m=s [NC,END,QSA]
        RewriteRule ^signup/$ /controller/signup_entry.php [NC,END]
        RewriteRule ^signup/suica/$ /controller/suica_entry.php [NC,END]
        RewriteRule ^signout/$ /controller/signout.php [NC,END]
        # restful
        RewriteRule ^forms/$ /controller/apply_entry.php [NC,END]
        RewriteRule ^forms/(\d+)/$ /controller/apply_entry.php?e=$1 [NC,END,QSA]

    # page
        RewriteCond %{HTTP_HOST} ^student\.
        RewriteRule ^ /view/student.html [NC,END]
        RewriteCond %{HTTP_HOST} ^teacher\.
        RewriteRule ^ /view/teacher.html [NC,END]

    # direct
        RewriteRule ^(.+)(?<!/)$ /$1/ [R]
