extends includes/layout

block title
    title Sign In - IH12A Group 5

block style
    link(rel="stylesheet", href="/cdn/signin.css")

block main
    main
    <?= $errmsg ?>

block script
    script(src='/cdn/signin.js')
